    /*
    Flaticon icon font: Flaticon
    Creation date: 22/06/2016 15:22
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-apple:before { content: "\f100"; }
.flaticon-bomb:before { content: "\f101"; }
.flaticon-book:before { content: "\f102"; }
.flaticon-book-bag:before { content: "\f103"; }
.flaticon-checked:before { content: "\f104"; }
.flaticon-chicken:before { content: "\f105"; }
.flaticon-cloud:before { content: "\f106"; }
.flaticon-cogwheel:before { content: "\f107"; }
.flaticon-connections:before { content: "\f108"; }
.flaticon-diamond:before { content: "\f109"; }
.flaticon-dribbble:before { content: "\f10a"; }
.flaticon-facebook:before { content: "\f10b"; }
.flaticon-folder:before { content: "\f10c"; }
.flaticon-gift:before { content: "\f10d"; }
.flaticon-github:before { content: "\f10e"; }
.flaticon-google-plus:before { content: "\f10f"; }
.flaticon-hot-drink:before { content: "\f110"; }
.flaticon-ice-cream:before { content: "\f111"; }
.flaticon-lightning:before { content: "\f112"; }
.flaticon-like:before { content: "\f113"; }
.flaticon-mail:before { content: "\f114"; }
.flaticon-map:before { content: "\f115"; }
.flaticon-money-bag:before { content: "\f116"; }
.flaticon-paper-plane:before { content: "\f117"; }
.flaticon-picture:before { content: "\f118"; }
.flaticon-pipe:before { content: "\f119"; }
.flaticon-printer:before { content: "\f11a"; }
.flaticon-push-pin:before { content: "\f11b"; }
.flaticon-robot:before { content: "\f11c"; }
.flaticon-settings:before { content: "\f11d"; }
.flaticon-share:before { content: "\f11e"; }
.flaticon-shopping-cart:before { content: "\f11f"; }
.flaticon-smartphone:before { content: "\f120"; }
.flaticon-trumpet:before { content: "\f121"; }
.flaticon-twitter:before { content: "\f122"; }
.flaticon-world-grid:before { content: "\f123"; }
    
    $font-Flaticon-apple: "\f100";
    $font-Flaticon-bomb: "\f101";
    $font-Flaticon-book: "\f102";
    $font-Flaticon-book-bag: "\f103";
    $font-Flaticon-checked: "\f104";
    $font-Flaticon-chicken: "\f105";
    $font-Flaticon-cloud: "\f106";
    $font-Flaticon-cogwheel: "\f107";
    $font-Flaticon-connections: "\f108";
    $font-Flaticon-diamond: "\f109";
    $font-Flaticon-dribbble: "\f10a";
    $font-Flaticon-facebook: "\f10b";
    $font-Flaticon-folder: "\f10c";
    $font-Flaticon-gift: "\f10d";
    $font-Flaticon-github: "\f10e";
    $font-Flaticon-google-plus: "\f10f";
    $font-Flaticon-hot-drink: "\f110";
    $font-Flaticon-ice-cream: "\f111";
    $font-Flaticon-lightning: "\f112";
    $font-Flaticon-like: "\f113";
    $font-Flaticon-mail: "\f114";
    $font-Flaticon-map: "\f115";
    $font-Flaticon-money-bag: "\f116";
    $font-Flaticon-paper-plane: "\f117";
    $font-Flaticon-picture: "\f118";
    $font-Flaticon-pipe: "\f119";
    $font-Flaticon-printer: "\f11a";
    $font-Flaticon-push-pin: "\f11b";
    $font-Flaticon-robot: "\f11c";
    $font-Flaticon-settings: "\f11d";
    $font-Flaticon-share: "\f11e";
    $font-Flaticon-shopping-cart: "\f11f";
    $font-Flaticon-smartphone: "\f120";
    $font-Flaticon-trumpet: "\f121";
    $font-Flaticon-twitter: "\f122";
    $font-Flaticon-world-grid: "\f123";